.settings
.idea
_tools
_profiler
deployments
application/config/data_model.php
application/config/db.php
application/config/mailing.php
application/data/**
application/bases/**/base_data.php
logs/**
tmp/**
cache/**
images/gallery/**
images/test_uploads
css/packages/**
js/packages/**
cleanup.sh